.landingExoad {
  color: var(--secondary-normal, #160647);
  font-family: Aclonica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bgBodyTertiary {
  background: #f2f4ff;
}

.navitems {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: var(--secondary-normal, #160647);
  column-gap: 32px;

  /* Body-Medium/Medium */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.landingpageHeader {
  display: flex;
  gap: 10px;
}

.tryFreeBtn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  border: 1px solid var(--secondary-normal, #160647);
  color: var(--secondary-normal, #160647);

  /* Body-16/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.landingLoginBtn {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  background: var(--secondary-normal, #160647);
  color: var(--display-white, #fff);

  /* Body-16/Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
